{%- comment -%}
  @template sections/quick-order.liquid
  @description A modular quick order section that can be added to product pages with customizable blocks
  @version 1.0.0
{%- endcomment -%}

{%- assign items_in_cart = cart | line_items_for: product | sum: 'quantity' -%}

<div class="quick-order-section color-{{ section.settings.color_scheme }} gradient">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'variant_list' -%}
        <quick-order-list
          class="page-width section-{{ section.id }}-padding"
          id="{{ section.id }}-{{ product.id }}"
          data-section="{{ section.id }}"
          data-product-id="{{ product.id }}"
          data-url="{{ product.url }}"
          {{ block.shopify_attributes }}
        >
          <form
            action="{{ routes.cart_update_url }}"
            class="quick-order-list__contents critical-hidden"
            method="post"
            id="QuickOrderList-{{ block.id }}"
          >
            <div class="quick-order-list__container" id="main-variant-items">
              <div class="js-contents">
                <table class="quick-order-list__table">
                  <caption class="visually-hidden">{{ 'sections.cart.title' | t }}</caption>
                  <thead>
                    <tr>
                      <th class="caption-with-letter-spacing" scope="col">
                        {%- if product.has_only_default_variant -%}
                          {{ 'sections.quick_order_list.product' | t }}
                        {%- else -%}
                          {{ 'sections.quick_order_list.variant' | t }}
                        {%- endif -%}
                      </th>
                      {% if block.settings.show_quantity %}
                        <th class="quick-order-list__table-heading--wide caption-with-letter-spacing" scope="col">
                          {{ 'products.product.quantity.label' | t }}
                        </th>
                      {% endif %}
                      {% if block.settings.show_price %}
                        <th class="quick-order-list__table-heading--wide caption-with-letter-spacing" scope="col">
                          {{ 'sections.cart.headings.price' | t }}
                        </th>
                      {% endif %}
                      <th class="right caption-with-letter-spacing" scope="col">
                        {{ 'sections.quick_order_list.variant_total' | t }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    {%- if product.has_only_default_variant -%}
                      {%- render 'quick-order-list-row',
                        item: product,
                        image: product.featured_media,
                        sku: product.selected_or_first_available_variant.sku,
                        variant: product.selected_or_first_available_variant,
                        show_image: block.settings.show_image,
                        show_sku: block.settings.show_sku
                      -%}
                    {%- else -%}
                      {%- for variant in product.variants -%}
                        {%- render 'quick-order-list-row',
                          item: variant,
                          image: variant.image,
                          sku: variant.sku,
                          variant: variant,
                          show_image: block.settings.show_image,
                          show_sku: block.settings.show_sku
                        -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </quick-order-list>

      {%- when 'totals' -%}
        <div 
          class="quick-order-list__total gradient"
          id="quick-order-list-total-{{ product.id }}-{{ section.id }}"
          {{ block.shopify_attributes }}
        >
          <div class="quick-order-list-total__info">
            {% if block.settings.show_total_items %}
              <div class="quick-order-list__total-items">
                <span>{{ items_in_cart }}</span>
                <p class="h5">{{ 'sections.quick_order_list.total_items' | t }}</p>
              </div>
            {% endif %}
            
            {% if block.settings.show_total_price %}
              <div class="quick-order-list-total__price">
                <div class="totals__product-total">
                  <span class="totals__subtotal-value">
                    {{ cart | line_items_for: product | sum: 'original_line_price' | money }}
                  </span>
                  <p class="totals__subtotal h5">{{ 'sections.quick_order_list.product_total' | t }}</p>
                </div>
              </div>
            {% endif %}

            {% if block.settings.show_cart_actions %}
              <div class="quick-order-list-buttons">
                <a href="{{ routes.cart_url }}" class="quick-order-list__button button button--secondary">
                  <span>{{- 'sections.quick_order_list.view_cart' | t -}}</span>
                </a>
                <div class="variant-remove-total{% if items_in_cart == 0 %} variant-remove-total--empty{% endif %}">
                  {%- render 'loading-spinner' -%}
                  <quick-order-list-remove-all-button class="no-js-hidden" data-action="confirm">
                    <button class="button button--tertiary" type="button">
                      <span class="text-body">{{ 'sections.quick_order_list.remove_all' | t }}</span>
                    </button>
                  </quick-order-list-remove-all-button>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Quick Order List",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ],
  "blocks": [
    {
      "type": "variant_list",
      "name": "Variant List",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Show variant image",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sku",
          "label": "Show SKU",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_price",
          "label": "Show price",
          "default": true
        }
      ]
    },
    {
      "type": "totals",
      "name": "Order Totals",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_total_items",
          "label": "Show total items",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_total_price",
          "label": "Show total price",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_cart_actions",
          "label": "Show cart actions",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quick Order List",
      "blocks": [
        {
          "type": "variant_list"
        },
        {
          "type": "totals"
        }
      ]
    }
  ]
}
{% endschema %}
